language: python
dist: precise
rvm:
  - 2.2
cache:
  directories:
    - node_modules
branches:
  only:
    - master
matrix:
  include:
    - env: TOX_ENV=flake8
      python: 3.6
install: pip install -U tox
script: tox -e $TOX_ENV
